
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}


body {
    background-color: #eef2f7;   /* light silver background */
    color: #1f2937;
    line-height: 1.6;
}

header {
    background-color: #0b1c2d;   /* dark blue */
    color: #ffffff;
    padding: 25px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 32px;
}

nav a {
    color: #cbd5e1;              
    margin: 0 12px;
    text-decoration: none;
    font-weight: 500;
}
ul{
    list-style-type: none;
    
}
ul li{
    display: inline-block;
}

nav a:hover {
    color: #ffffff;
}

section {
    max-width: 900px;
    margin: 30px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

section h2 {
    color: #0b1c2d;
    margin-bottom: 15px;
    border-left: 6px solid #2563eb; /* blue accent */
    padding-left: 10px;
}

btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 22px;
    background-color: #2563eb;   /* blue */
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

btn:hover {
    background-color: #1d4ed8;
}


ul {
    padding-left: 20px;
}

project {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8fafc;
    border: 1px solid #e5e7eb;
    transition: transform 0.3s, box-shadow 0.3s;
}

project:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

project h3 {
    color: #1e40af;
}

/* Project images */
.project-img {
    width: 100%;
    max-width: 450px;
    margin-top: 12px;
    border-radius: 8px;
    display: block;
}

social-icons {
    margin-top: 10px;
}

social-icons a {
    font-size: 26px;
    margin-right: 15px;
    color: #2563eb;
}

social-icons a:hover {
    color: #1d4ed8;
}


footer {
    background-color: #0b1c2d;
    color: #cbd5e1;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}


@media (max-width: 768px) {
    section {
        margin: 20px;
        padding: 20px;
    }

    header h1 {
        font-size: 26px;
    }
}
#about{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about{
  display: flex;
  align-items: center;
  gap: 30px;
}

#about h2,
#about p,
#about a{
  display: block;
}

#about img.about_me_img{
  width: 130px;
}